body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #303F9F;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.verse-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #303F9F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #303F9F;
    color: white;
    text-align: center;
    padding: 10px 0;
}
